<section class="form-registro">
    <h1 align="center">Calcular Division</h1>
    <input class="controls" type="number" name="dividendo" id="dividendo" [(ngModel)]="dividendo" placeholder="Ingrese el valor del dividendo"><br>
    <input class="controls" type="number" name="divisor" id="divisor" [(ngModel)]="divisor" placeholder="Ingrese el valor del divisor"><br>
    <input class="controls" type="text" name="resultado" id="resultado" [(ngModel)]="resultado" placeholder="su resultado es: "> <br>
    <p>Estoy de acuerdo con <a href="#">Terminos y condiciones</a></p>
    <input class="boton" type="button" value="Multiplicar" (click)="division()">
</section>
