<section class="form-registro">
    <h1 align="center">Calcular Resta</h1>
    <input class="controls" type="number" name="restando1" id="restando1" [(ngModel)]="restando1" placeholder="Ingrese el valor del restando 1"><br>
    <input class="controls" type="number" name="restando2" id="restando2" [(ngModel)]="restando2" placeholder="Ingrese el valor del restando 2"><br>
    <input class="controls" type="text" name="resultado" id="resultado" [(ngModel)]="resultado" placeholder="su resultado es: "> <br>
    <p>Estoy de acuerdo con <a href="#">Terminos y condiciones</a></p>
    <input class="boton" type="button" value="Restar" (click)="resta()">
</section>
