<section class="form-registro">
    <h1 align="center">Calcular Suma</h1>
    <input class="controls" type="number" name="sumando1" id="sumando1" [(ngModel)]="sumando1" placeholder="Ingrese el valor del sumando 1"><br>
    <input class="controls" type="number" name="sumando2" id="sumando2" [(ngModel)]="sumando2" placeholder="Ingrese el valor del sumando 2"><br>
    <input class="controls" type="text" name="resultado" id="resultado" [(ngModel)]="resultado" placeholder="su resultado es: "> <br>
    <p>Estoy de acuerdo con <a href="#">Terminos y condiciones</a></p>
    <input class="boton" type="button" value="Sumar" (click)="suma()">
</section>
