<section class="form-registro">
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="home.component.css">

  </head>
  <body>
   
    <div class =" d-flex">
        <div id="content">
            <section class=py-3>
                    <div class ="container">
                        <div class="row">
                            <div class="col-lg-9 ">
                                <h1 class="font-weight-bold mb-0">Bienvenido</h1>
                                <p class="lead text-muted">Puedes realizar todas las operaciones que se encuentran en la barra de menu.</p>
                            </div>
                            <div class="col-lg-3 d-flex">
                                <button class="btn btn-primary w-100 align-self-center">Descargar Operacion</button>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="bg-mix">
                    <div class="container">
                        <div class="card rounded-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-3 stat">
                                        <h6 class="text-muted">El Abaco</h6>
                                        <h3 class="font-weight-bold">inventado cerca del 500 a.c.</h3>
                                        <h6 class="text-muted">es un instrumento que sirve para efectuar operaciones aritmeticas sencillas.</h6>
                                    </div>

                                    <div class="col-lg-3  stat">
                                        <h6 class="text-muted">Calculadora de Pascal</h6>
                                        <h3 class="font-weight-bold">inventada en 1642</h3>
                                        <h6 class="text-muted">La pascalina fue la primera calculadora que funcionaba a base de ruedas y engranajes inventada por el frances Blaise Pascal.</h6>
                                    </div>

                                    <div class="col-lg-3 stat">
                                        <h6 class="text-muted">Aritmometro</h6>
                                        <h3 class="font-weight-bold">inventada en 1694</h3>
                                        <h6 class="text-muted">fue la evolucion de la maquina calculadora contruida por Gottfried Libniz, que se basaba en la rueda de Leibniz.Es uno de los mejores inventos de la epoca.</h6>
                                    </div>

                                    <div class="col-lg-3 ">
                                        <h6 class="text-muted">Laptop Tactil</h6>
                                        <h3 class="font-weight-bold">inventada en 1983</h3>
                                        <h6 class="text-muted">la firma Hewlett Packard lanzo al mercado la primera computadora de la historia con patalla tactil. se trato de la HP150. que venia con sistema operativo MS-DOS.</h6>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>

                <section class="bg-grey">
                    <div class="container">
                        <div class=row>
                            <div class="col-lg-8 my-3">
                                <div class="card rounded-0">
                                    <div class="card-header bg-light">
                                        <h6 class="font-weight-bold nb-0">Numero de Usuario por meses</h6>
                                    </div>
                                    <div class="card-body">
                                        <canvas id="myChart"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 my-3">
                                
             <section class="bf-grey">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-20 ">
                            <div class="card rounded-0">
                                <div class="card-header bg-light">
                                    <h6 class="font-weight-bold mb-0">Historial de operaciones</h6>
                                </div>
                                <div class="card-body">
                                    <div class="d-flex border-bottom py-2">
                                        <div class="mr-3 d-flex">
                                            <h2 class="align-self-center nb-0 "><i class="icon ion-md-contact"></i></h2> 
                                        </div>
                                       
                                       <div class="align-self-center">
                                            <h6 class="d-inline-block nb-0">$250</h6><span class="badge badge-success ml-2">10% de las persona</span>
                                            <small class="d-block text-muted">Suma</small>
                                        </div>
                                    </div>
                                    
                                    <div class="d-flex border-bottom py-2">
                                        <div class="mr-3 d-flex">
                                            <h2 class="align-self-center nb-0 "><i class="icon ion-md-contact"></i></h2> 
                                        </div>
                                       
                                       <div class="align-self-center">
                                            <h6 class="d-inline-block nb-0">$270</h6><span class="badge badge-success ml-2">10% de las persona</span>
                                            <small class="d-block text-muted">Resta</small>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary w-100">Ver todo</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
                            </div>
                        </div>
                    </div>
                </section>

         </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>
    <script>
    
    </script>
  </body>
</html>
</section>

